# Ignore everything in node_modules
node_modules/*

# Swiper Files
!node_modules/swiper/
node_modules/swiper/*

!node_modules/swiper/swiper-bundle.min.css
!node_modules/swiper/swiper-bundle.min.js
!node_modules/aos/dist/aos.css
!node_modules/aos/dist/aos.js

# AOS Files
!node_modules/aos/
node_modules/aos/*
!node_modules/aos/dist/

!node_modules/aos/dist/aos.css
!node_modules/aos/dist/aos.js

# Backup Files
Backup-files

.git