@import "tailwindcss";

@theme {
    --color-primary: #211a1d;
    /* --color-secondary: #f87171; */
    --color-hover: rgba(0, 0, 0, 0.3);

    --font-primary: "Bebas Neue", sans-serif;

    --font-secondary: "Poppins", sans-serif;
    --default-font-family: "Poppins", sans-serif;
}
